:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 2em;
  font-family: Avenir;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  position: relative; /* Add this to make ::before and ::after work */
}

h3::before,
h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the lines as needed */
  background-color: black; /* Adjust the color as needed */
}

h3::before {
  top: -4px; /* Adjust the positioning of the overline */
}

h3::after {
  bottom: -4px; /* Adjust the positioning of the underline */
}

/* Pizza.css */
.pizza-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Adjust the gap between items */
}

.pizza-item {
  border: 1px solid #ccc; /* Add borders to each pizza item */
  padding: 20px; /* Add padding to space items */
  text-align: center; /* Center the content */
}

.pizza-item img {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
}

.copyright {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
